@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

  /* container div loader (page index) */
.dv-load {
    width: 100%;
    height: 82%;
    display: flex;
    background-color: #eaeaeac2;
    position: absolute;
    z-index: 1;
    opacity: 1;
                    /* appel animation div-load */
    -webkit-animation: dv-load 15s ease-in-out forwards;
    -o-animation: dv-load 15s ease-in-out forwards; 
    animation: dv-load 15s ease-in-out forwards;
}

/* Animation div container loader page index */
@-webkit-keyframes dv-load {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        -webkit-opacity: 0;
    }
}

@keyframes dv-load {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

    /* Variables couleurs: primaire, secondaire, tertiaire */
html {
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiery: #99E2D0;
}

h1, .t1 {
    font-family: 'Shrikhand', cursive;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #ffffff;
    height: 70px;
}

    /* header (la palette, la note enchantée, à la française et le delice des sens) */
.header-store {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    /* header div logo */
header div {
    height: 49px;
    text-align: center;
    padding-top: 20px;
}

    /* localisation */
.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top: 5px solid #cecece;
    border-bottom: 1px solid #eaeaea;
    background: #eaeaea;
    height: 60px;
}
     .maps >span {
        margin-right: 15px;
    }

    /* =========== footer ======== */
footer {
    background-color: #353535;
}

        /* div footer desktop */
    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
        /* logo footer */
    .ohmyfood {
        color: white;
        font-size: 1.3rem;
        padding-top: 10px;
        margin-bottom: 6px;
    }
   
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    li a {
        color: white;
    }

        /* div footer li (espace entre icônes et les écrits) */
    .space {
        margin-right: 20px;
    }

    .space1 {
        margin-right: 13px;
    }

/*=========== Classes générales ==========*/
.move {
    position: relative;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-al {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad-top {
    padding-top: 20px;
}

.flex-al {
    display: flex;
    align-items: center;
}

.flex-al-ar {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
/* =============================== */
        /* section resevation, proriétés supplémentaires(index) */
    .flex-col-al:nth-child(1) {
        background-color: #f6f6f6;
        height: 275px;
        margin-bottom: 20px;
        padding-left: 13px;
        padding-right: 20px;
        padding-bottom: 55px;
        justify-content: center;
        text-align: center;
    }

            /* Section reservation font-size for h2 (font-size pour h2) */
        .flex-col-al div > h2 {
            font-size: 2.1em;
        }

        /* Section reservation element p */
        .flex-col-al p {
            font-size: 1.1em;
            margin-bottom: 28px;
        }

        
        /*section reservation (Explorer nos restaurants) */
    .btn {
        border: #bfbfbf 1px solid;
        width: 208px;
        height: 57px;
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(#FF79DA, #9356DC);
        color: white;
        box-shadow: 4px 5px 8px #00000042
    }

        /* bloc functioning (fonctionnement) */
    .pres {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 23px;
    }

             /* bloc section functioning (fonctionnement) container icon, number & h4  */
        .intro {
            width: 27%;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f6f6f6;
            border: #dcdcdc42 1px solid;
            border-radius: 25px;
            margin-bottom: 1.5rem;
            box-shadow: #dcdcdc8c 0px 10px 6px;
        }

            /* 3ème bloc section fonctionnement */
        .intro:nth-child(3) {
            margin-bottom: 50px;
        }

            /* section functioning (fonctionnement) h2*/
        .pad-left {
            padding-left: 5%;
        }

         /* 1, 2 & 3 numbers bloc functiong (fonctionnement) */
         .number {
            position: absolute;
            border: var(--primary) 1px solid;
            background-color: var(--primary);
            border-radius: 15px;
            width: 23px;
            height: 25px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            /* position number (chiffre) 1 */
            .n1 {
                left: 5%;
            }

            /* position number (chiffre) 2 */
            .n2 {
                left: 36.5%;
            }

            /* position number (chiffre) 3 */
            .n3 {
                right: 30%;
            }

             /*  section fonctionnement, container icon & h4 */
        .fun {
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

            /* size icon bloc fonctionnement & icon arrow (flèche header pages) */
        .size {
            font-size: 1.5rem;
        }

            /* size & color icon store bloc (functioning) fonctionnement (index) */
        .size-color {
            color: var(--primary);
            font-size: 1.5rem;
        }

        /* section fonctionnement h4 */
        .fun > h4 {
            font-size: 1.3em;
        }

        /* container bloc-resto */
    .wrap {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;
    }

        /* Restaurants */
        .bloc-resto {
            display: flex;
            flex-direction: column;
            border:#00000029 1px solid;
            border-radius: 15px;
            box-shadow:1px 5px 13px #00000038;
            width: 45%;
            height: auto;
            margin-bottom: 1.5rem;
        }

            /* img all pages (toutes les pages) */
            .pic-resto {
                width: 100%;
                height: 225px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

            /* heigt img (sauf page index) additionné avec class "pic-resto" */
            .haut {
                height: 365px;
                border-radius: 0;
            }

            .new-resto {
                position: absolute;
                right: 5%;
                top: 5%;
                background: var(--tertiery);
                width: 83px;
                height: 37px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: green;
            }
               
                /* article Restaurants: bloc info */
            .pad-back {
                padding-bottom: 15px;
                padding-left: 10px;
                background-color: #ffffff38;
            }

                /* article Restaurants: h3 */
            .pad-back > h3 {
                margin-bottom: 4px;
            }

 /* == la pallette du goût, la note enchantée, à la farnçaise et le delice des sens == */

.back-posit {
    background-color: #f6f6f6;
    position: relative;
    top: 39px;
}
    /* bloc general grey (bloc général gris */
.store {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 10px;
    position: relative;
}

        /* margin & font-size t1 */
    .t1 {
        margin-right: 80px;
        font-size: 2.2em;
        margin-top: 27px;
    }

     /* icon heart (icône coeur) element div store */
     .posit-size2 {
        font-size: 2em;
        position: absolute;
    }

     /* margin (marge) h2 entrées, plats & desserts */
     .marg-left {
        margin-left: 5%;
    }

            /* margin bottom h2 */
        .marg-left::after {
            content: "";
            display: block;
            margin: 0;
            width: 61px;
            padding-top: 5px;
            border-bottom: 3px solid var(--tertiery);
        }

        /* bloc article */
    .flex-col-al2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex-col-al2:last-child {
        margin-bottom: 40px;
    }

     /* elements artcile entrées, plats & desserts */
    .bloc-info {
        display: flex;
        background-color: #ffffff;
        width: 90%;
        border-radius: 25px;
        margin-bottom: 20px;
        box-shadow: #ededed 3px 12px 17px;
    }

    .note {
        width: 80%;
    }

    .check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        font-size: 2em;
        color: white;
        background: var(--tertiery);
        border-radius: 0 25px 25px 0;
       }
       
    .bloc-info div > h3 {
        margin-left: 8px;
        font-size: 1.5em;
    }

    .flex-al > p {
        margin-left: 8px;
        margin-top: 0;
        font-size: 1.35em;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

        /* modif btn  */
    .btn-modif {
        height: 60px;
        margin: 20px;
    }
    
/* ============================================================== */

    /* ==== Media query Mobile ======== */
@media (max-width: 640px) {

    /* Container div loader */
    .dv-load {
        height: 89%;
    }
        /* bloc functioning (fonctionnement) */
    .pres {
        flex-direction: column;
        align-items: center;
        padding-left: 8px;
    }

           /* bloc section functioning (fonctionnement) container icon  */
        .intro {
            width: 87%;
        }

            /* 1, 2 & 3 numbers bloc functiong (fonctionnement) */
        .n1, .n2, .n3 {
            left: 5%;
        }

        /*  section fonctionnement, container icon & h4 */
        .fun {
            width: 80%;
        }
    
            /* size icon */
        .size {
            font-size: 1.3rem;
        }

            /* size & color icon store bloc (functioning) fonctionnement (index) */
        .size-color {
            color: var(--primary);
            font-size: 1.2rem;
        }

         /* section fonctionnement h4 */
         .fun > h4 {
            font-size: 1.1em;
        }

            /* Restaurants */
        .bloc-resto {
            width: 100%;
        }

        /* == la pallette du goût, la note enchantée, à la farnçaise et le delice des sens == */

        .store {
            border-radius: 40px 40px 0 0;
            top: -42px;
        }

            /* margin & font-size t1 */
        .t1 {
            margin-left: 19px;
            font-size: 2em;
        }
        .bloc-img {
            display: flex;
            width: 100%;
        }

           /* img section restaurants (index) */
           .pic-resto {
            height: 225px;
        }
        
            /* heigt img restaurant individuel additionné avec class "pic-resto" */
        .haut {
            height: 365px;
            border-radius: 0;
        }

        .check {
            font-size: 1.5em;
        }

        .bloc-info div > h3 {
            font-size: 1.17em;
        }
    
        .flex-al > p {
            font-size: 1em;
        }

    /* ======== footer ========================= */
        /* div footer */
    .foot {
        padding-left: 5%;
        align-items: inherit;
    }
}

/* ============================================================================= */

    /* === Media query Tablet (Tablette) ======= */
@media screen and (min-width: 641px) and (max-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
     }

         /* Container div loader */
        .dv-load {
            height: 90%;
        }

            /* bloc functioning (fonctionnement) */
        .pres {
            flex-direction: column;
            align-items: center;
            padding-left: 11px;
        }

               /* bloc section functioning (fonctionnement) container icon */
            .intro {
                width: 90%;
            }
    
            /* 1, 2 & 3 numbers bloc functioning (fonctionnement) */
            .n1, .n2, .n3 {
                left: 5%;
            }
                
                /*  section fonctionnement, container icon & h4 */
            .fun {
                width: 80%;
            }
              
                /* section fonctionnement h4 */
            .fun > h4 {
                font-size: 1.5em;
            }

                /* Restaurants */
            .bloc-resto {
                width: 100%;
            }
                /* img section restaurants (index) */
            .pic-resto {
                height: 322px;
            }

     /* la pallette du goût, la note enchantée, à la farnçaise et le delice des sens */

    .header-store {
        padding-top: 25px;
    }

        .flex-al > p {
            font-size: 1.3em;
        }

    /* ======== footer ========================= */
        /* div footer */
    .foot {
        padding-left: 5%;
        align-items: inherit;
    }
}

/* =============== Animation ====================================== */
        /* LOADER (Chargement page index) */
        .loader {
            border: 10px solid #f6f6f6;
            border-top: 10px solid #9356DC;
            border-bottom: 10px solid #FF79DA;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: auto;
            position: absolute;
            top: 0; right: 0;left: 0; bottom: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            opacity: 0;
                         /* appel animation loader */
            -webkit-animation: loader 15s linear;
            -o-animation: loader 15s linear;
            animation: loader 15s linear;
        }
            @-webkit-keyframes loader {
                0% {
                -webkit-transform: rotate(0deg);
                -webkit-opacity: 1;
                }

                100% {
                    -webkit-transform: rotate(360deg);
                    -webkit-opacity: 0;
                }
            }

            @keyframes loader {
                0% {
                    transform: rotate(0deg);
                    opacity: 1;
                }

                100% {
                    transform: rotate(360deg);
    
                }
            }


   /* == icon heart(icône coeur) section restaurants == */
.posit-size {
    position: absolute;
    right: 10%;
    bottom: 9%;
    font-size: 1.8em;
    color: #00000026;
}
   
 .opac1 {
    opacity: 0;
    position: absolute;
    right: 10%;
    bottom: 9%; 
    font-size: 1em;
    cursor: pointer;
 }

    /* dégradé couleur icône coeur fontawasome par son speudo-classe */
 .opac1::before , .opac3::before {
    background: linear-gradient(#ae5fdb, #b962db, #d66cdb );
    background-clip: text;
    background: -webkit-linear-gradient( #ae5fdb, #b962db, #d66cdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
 }

@keyframes heart {
    0% {
        opacity: 0;
        font-size: 1em;
        transition: ease-in;
    }

    100% {
        opacity: 1;
        font-size: 1.8em;
    }
}
         /* appel animation heart*/
.opac1:active {
    animation: heart 10s;
}

  /* == bloc-resto page index == */
.aspect {
    transform: scale(1);
    transition: transform 400ms;
}

.aspect:hover {
    transform: scale(1.05);
}

/* la pallette du goût, la note enchantée, à la farnçaise et le delice des sens */
    /* == hearts (coeurs) == */
.opac2 {
    position: absolute;
    right: 10%;
    bottom: 6px;
    font-size: 1.8em;
    color: #00000026;
}

.opac3 {
    opacity: 0;
    position: absolute;
    right: 10%;
    bottom: 6px;
    font-size: 1em;
    cursor: pointer;
}

.opac3:active {
    animation: heart 10s;
}

/* ============= */

@keyframes afficheMenu {
    0% {
        opacity: 0;
        transition: ease-in-out;
    }
    
    50% {
        transition: ease-in;
    }

    100% {
        opacity: 1;
    }
}
         /* appel animation afficheMenu */
.bloc-info:nth-child(1) {
   animation: afficheMenu 8s ;
}
.bloc-info:nth-child(2) {
    animation: afficheMenu 9s ;
}

.bloc-info:nth-child(3) {
    animation: afficheMenu 10s ;
}
 
.bloc-info:nth-child(4) {
    animation: afficheMenu 11s ;
}

.bloc-info:nth-child(5) {
    animation: afficheMenu 12s ;
}

.bloc-info:nth-child(6) {
    animation: afficheMenu 13s ;
}

.bloc-info:nth-child(7) {
    animation: afficheMenu 14s ;
}

.bloc-info:nth-child(8) {
    animation: afficheMenu 15s ;
}

.bloc-info:nth-child(9) {
    animation: afficheMenu 16s ;
}

.bloc-info:nth-child(10) {
    animation: afficheMenu 17s ;
}