@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

  /* container div loader (page index) */
.dv-load {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #cecece;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 1;
    -webkit-animation: dv-load 2.9s ease-in-out forwards;
    -o-animation: dv-load 2.9s ease-in-out forwards; 
    animation: dv-load 2.9s ease-in-out forwards;
}

/* Animation div container loader page index */
@-webkit-keyframes dv-load {
    100% {
        -webkit-opacity: 0;
        visibility: hidden;
    }
}

@keyframes dv-load {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

  /* LOADER (Chargement page index) */
  .loader {
    border: 10px solid #f6f6f6;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 1vh; right: 0;left: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    opacity: 0;
    -webkit-animation: loader 2.5s ease-out;
    -o-animation: loader 2.5s ease-out;
    animation: loader 2.5s ease-out;
}

    /* == Animation loader (chargement) == */
    @-webkit-keyframes loader {
        0% {
        -webkit-transform: rotate(0deg);
        -webkit-opacity: 1;
        }

        100% {
            -webkit-transform: rotate(360deg);
            -webkit-opacity: 0;
        }
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0;

        }
    }

    /* Variables couleurs: primaire, secondaire, tertiaire */
html {
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiery: #99E2D0;
}

h1, h5 {
    font-family: 'Shrikhand', cursive;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #ffffff;
    height: 70px;
}

    /* header (la palette, la note enchantée, à la française et le delice des sens) */
.header-store {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    /* header div logo */
header div {
    height: 49px;
    text-align: center;
    padding-top: 20px;
}

    /* localisation */
.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top: 5px solid #cecece;
    border-bottom: 1px solid #eaeaea;
    background: #eaeaea;
    height: 60px;
}
     .maps >span {
        margin-right: 15px;
    }

    /* =========== footer ======== */
footer {
    background-color: #353535;
}

        /* div footer desktop */
    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
        /* logo footer */
    .ohmyfood {
        color: white;
        font-size: 1.3rem;
        padding-top: 10px;
        margin-bottom: 6px;
    }
   
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    li a {
        color: white;
    }

        /* div footer li (espace entre icônes et les écrits) */
    .space {
        margin-right: 20px;
    }

    .space1 {
        margin-right: 13px;
    }

/*=========== Classes générales ==========*/
.move {
    position: relative;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-al {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad-top {
    padding-top: 20px;
}

.flex-al {
    display: flex;
    align-items: center;
}

.flex-al-ar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* =============================== */
        /* section resevation, proriétés supplémentaires(index) */
    .flex-col-al:nth-child(1) {
        background-color: #f6f6f6;
        height: 275px;
        margin-bottom: 20px;
        padding-left: 13px;
        padding-right: 20px;
        padding-bottom: 55px;
        justify-content: center;
        text-align: center;
    }

            /* Section reservation font-size for h2 (font-size pour h2) */
        .flex-col-al div > h2 {
            font-size: 2.1em;
        }

        /* Section reservation element p */
        .flex-col-al p {
            font-size: 1.1em;
            margin-bottom: 28px;
        }

        
        /*section reservation (Explorer nos restaurants) */
    .btn {
        border: #bfbfbf 1px solid;
        width: 208px;
        height: 57px;
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(#FF79DA, #9356DC);
        color: white;
        box-shadow: 4px 5px 8px #00000042;
        cursor: pointer;
    }

    .btn:hover {
        background-image: linear-gradient(#f284d3b3, #b480f4);
        box-shadow: 8px 6px 15px #00000042;
        color: #ffffffd6;
    }
        /* bloc functioning (fonctionnement) */
    .pres {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 23px;
    }

             /* bloc section functioning (fonctionnement) container icon, number & h4  */
        .intro {
            width: 27%;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f6f6f6;
            border: #dcdcdc42 1px solid;
            border-radius: 25px;
            margin-bottom: 1.5rem;
            box-shadow: #dcdcdc8c 0px 10px 6px;
            cursor: pointer;
        }

        .intro:hover {
            background-color: #f6f6f64f;
            box-shadow: #dcdcdcd9 0px 2px 26px;
        }

            /* 3ème bloc section fonctionnement */
        .intro:nth-child(3) {
            margin-bottom: 50px;
        }

            /* section functioning (fonctionnement) h2*/
        .pad-left {
            padding-left: 5%;
        }

         /* 1, 2 & 3 numbers bloc functiong (fonctionnement) */
         .number {
            position: absolute;
            border: var(--primary) 1px solid;
            background-color: var(--primary);
            border-radius: 15px;
            width: 23px;
            height: 25px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            /* position number (chiffre) 1 */
            .n1 {
                left: 5%;
            }

            /* position number (chiffre) 2 */
            .n2 {
                left: 36.5%;
            }

            /* position number (chiffre) 3 */
            .n3 {
                right: 30%;
            }

             /*  section fonctionnement, container icon & h4 */
        .fun {
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

            /* size icon bloc fonctionnement & icon arrow (flèche header pages) */
        .size {
            font-size: 1.5rem;
        }

            /* size & color icon store bloc (functioning) fonctionnement (index) */
        .size-color {
            color: var(--primary);
            font-size: 1.5rem;
        }

        /* section fonctionnement h4 */
        .fun > h4 {
            font-size: 1.3em;
        }

        /* container bloc-resto */
    .wrap {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;
    }

        /* Restaurants */
        .bloc-resto {
            display: flex;
            flex-direction: column;
            border:#00000029 1px solid;
            border-radius: 15px;
            box-shadow:1px 5px 13px #00000038;
            width: 45%;
            height: auto;
            margin-bottom: 1.5rem;
        }

            /* img all pages (toutes les pages) */
            .pic-resto {
                width: 100%;
                height: 225px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

            /* heigt img (sauf page index) additionné avec class "pic-resto" */
            .haut {
                height: 365px;
                border-radius: 0;
            }

            .new-resto {
                position: absolute;
                right: 5%;
                top: 5%;
                background: var(--tertiery);
                width: 83px;
                height: 37px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: green;
            }
               
                /* article Restaurants: bloc info */
            .pad-back {
                padding-bottom: 15px;
                padding-left: 10px;
                background-color: #ffffff38;
            }

                /* article Restaurants: h3 */
            .pad-back > h3 {
                margin-bottom: 4px;
            }

            .boom {
                width: 40px;
                height: 35px;
                position: absolute;
                bottom: 20px;
                right: 3%;
                cursor: pointer;
                clip-path: polygon(10% 30%, 10.964163780212402% 23.847850799560547%, 13.781545639038086% 18.294574737548828%, 18.167877197265625% 13.87390422821045%, 23.698843002319336% 11.012911796569824%, 29.84322738647461% 10.00069522857666%, 36.00278854370117% 10.916526794433594%, 41.5780029296875% 13.690196990966797%, 46.03273391723633% 18.041913986206055%, 48.937103271484375% 23.55021095275879%, 49.99748992919922% 29.686431884765625%, 50.87010192871094% 24.147005081176758%, 53.59980392456055% 18.55011749267578%, 57.916664123535156% 14.061568260192871%, 63.402008056640625% 11.113999366760254%, 69.52970886230469% 10.005491256713867%, 75.7029037475586% 10.824935913085938%, 81.32111358642578% 13.510400772094727%, 85.84317779541016% 17.792112350463867%, 88.8337631225586% 23.25417137145996%, 89.9903564453125% 29.372953414916992%, 89.65007781982422% 35.61106491088867%, 88.46686553955078% 41.74618911743164%, 86.52460479736328% 47.68563461303711%, 83.93058776855469% 53.37174606323242%, 80.79669952392578% 58.779991149902344%, 77.22384643554688% 63.90948486328125%, 73.2959976196289% 68.77303314208984%, 69.0808334350586% 73.39031219482422%, 64.63136291503906% 77.78248596191406%, 59.98921585083008% 81.97077941894531%, 55.18699645996094% 85.97466278076172%, 50.25046920776367% 89.81172180175781%, 45.30208206176758% 86.36652374267578%, 40.485450744628906% 82.38014221191406%, 35.82589340209961% 78.211181640625%, 31.35537338256836% 73.84033966064453%, 27.114566802978516% 69.24664306640625%, 23.155170440673828% 64.40867614746094%, 19.54315948486328% 59.30665588378906%, 16.360923767089844% 53.926612854003906%, 13.707906723022461% 48.26767349243164%, 11.695180892944336% 42.35161209106445%, 10.43166732788086% 36.232295989990234%, 10% 30%);
                background: 4px 3px url(../img/resto/heart-border.png) no-repeat;
                background-size: 30px 29px;
            }

            .item {
                width: 100%;
                height: 0;
                background: linear-gradient(#FF79DA, #9356DC, #99E2D0);
                transition: 0.3s ease-in-out;
                position: absolute;
                bottom: 0;
            }
    
            .boom:hover .item {
                height: 100%;
            }

            /* == icon heart (icône coeur) == */
            .posit-size {
                position: absolute;
                left: 33%;
                bottom: 49%;
                font-size: 1.9em;
                color: #0000002e;
            }

            /* Animation icon heart (coeur) font awasome */
            .boom:hover .fa-heart::before {
                color: transparent;
                transition: 0.3s ease-in-out 1s;
            }

 /* == la pallette du goût, la note enchantée, à la farnçaise et le delice des sens == */

.back-posit {
    background-color: #f6f6f6;
    position: relative;
    top: 39px;
}
    /* bloc general grey (bloc général gris */
.store {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 10px;
    position: relative;
    border-radius: 66px 66px 0 0;
    top: -51px;
}

    /* margin & font-size h5 */
    h5 {
        margin-right: 80px;
        font-size: 2.2em;
        margin-top: 27px;
    }
    
    /* div boom container heart (complément ligne 403) element div store */
    .flex-al-ar + .boom {
         top: 46px;
         right: 15%;
     }

    /* margin (marge) h2 entrées, plats & desserts */
    .marg-left {
        margin-left: 5%;
    }

         /* margin bottom h2 */
        .marg-left::after {
            content: "";
            display: block;
            margin: 0;
            width: 61px;
            padding-top: 5px;
            border-bottom: 3px solid var(--tertiery);
        }

        /* bloc article */
    .flex-col-al2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex-col-al2:last-child {
        margin-bottom: 40px;
    }

     /* elements artcile entrées, plats & desserts */
    .bloc-info {
        display: flex;
        background-color: #ffffff;
        width: 80%;
        border-radius: 25px;
        margin-bottom: 20px;
        box-shadow: #ededed 3px 12px 17px;
        cursor: pointer;
    }
 
    /* contient les textes, enfant bloc-info */
    .note {
        width: 100%;
        transition: all 0.2s linear;
    }

    .bloc-info:hover .note {
        width: 80%;
    }

    /* ======= ensemble animation check =========== */
    .val {
        display: flex;
        justify-content: center;
        width: 0%;
        background: var(--tertiery);
        border-radius: 0 25px 25px 0;
        transition: all 0.2s linear;
    }
    
    .bloc-info:hover .val {
        width: 20%;
    }

    /* ======= ensemble animation check=========== */
         /* icône validation (check) */
    .check {
        display: none;
        font-size: 2em;
        color: white;
        -webkit-animation: check 0.6s ease-in-out both;
	        animation: check 0.6s ease-in-out both;
    }

    @-webkit-keyframes check {
        0% {
        -webkit-transform: rotate(0);
            
        }

        100% {
        -webkit-transform: rotate(360deg);
                
        }
    }

    @keyframes check {
        0% {
        transform: rotate(0);
                
        }

        100% {
        transform: rotate(360deg);
                
        }
    }
  
    .bloc-info:hover .check {
       display: flex;
       align-items: center;
    }
 /* =================================== */

    .bloc-info div > h3 {
        margin-left: 8px;
        font-size: 1.5em;
    }

    .flex-al > p {
        margin-left: 8px;
        margin-top: 0;
        font-size: 1.35em;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

        /* modif btn  */
    .btn-modif {
        height: 60px;
        margin: 20px;
    }
    
/* ============================================================== */

    /* ==== Media query Mobile ======== */
@media (max-width: 640px) {

        /* bloc functioning (fonctionnement) */
    .pres {
        flex-direction: column;
        align-items: center;
        padding-left: 8px;
    }

           /* bloc section functioning (fonctionnement) container icon  */
        .intro {
            width: 87%;
        }

            /* 1, 2 & 3 numbers bloc functiong (fonctionnement) */
        .n1, .n2, .n3 {
            left: 5%;
        }

        /*  section fonctionnement, container icon & h4 */
        .fun {
            width: 80%;
        }
    
            /* size icon */
        .size {
            font-size: 1.3rem;
        }

            /* size & color icon store bloc (functioning) fonctionnement (index) */
        .size-color {
            color: var(--primary);
            font-size: 1.2rem;
        }

         /* section fonctionnement h4 */
         .fun > h4 {
            font-size: 1.1em;
        }

            /* Restaurants */
        .bloc-resto {
            width: 100%;
        }

        /* == la pallette du goût, la note enchantée, à la farnçaise et le delice des sens == */

        .store {
            border-radius: 40px 40px 0 0;
            top: -42px;
        }

            /* margin & font-size h5 */
        h5 {
            margin-left: 19px;
            font-size: 2em;
        }

        /* elements artcile entrées, plats & desserts, complément ligne 506*/ 
        .bloc-info {
            width: 90%;
        }

         /* div boom container heart (complément ligne 403) element div store */
        .flex-al-ar + .boom {
            right: 6%;
        }

        .bloc-img {
            display: flex;
            width: 100%;
        }

           /* img section restaurants (index) */
           .pic-resto {
            height: 225px;
        }
        
            /* heigt img restaurant individuel additionné avec class "pic-resto" */
        .haut {
            height: 365px;
            border-radius: 0;
        }

        .check {
            font-size: 1.5em;
        }

        .bloc-info div > h3 {
            font-size: 1.17em;
        }
    
        .flex-al > p {
            font-size: 1em;
        }

    /* ======== footer ========================= */
        /* div footer */
    .foot {
        padding-left: 5%;
        align-items: inherit;
    }
}

/* ============================================================================= */
    /* === Media query Tablet (Tablette) ======= */
@media screen and (min-width: 641px) and (max-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
     }

            /* bloc functioning (fonctionnement) */
        .pres {
            flex-direction: column;
            align-items: center;
            padding-left: 11px;
        }

               /* bloc section functioning (fonctionnement) container icon */
            .intro {
                width: 90%;
            }
    
            /* 1, 2 & 3 numbers bloc functioning (fonctionnement) */
            .n1, .n2, .n3 {
                left: 5%;
            }
                
                /*  section fonctionnement, container icon & h4 */
            .fun {
                width: 80%;
            }
              
                /* section fonctionnement h4 */
            .fun > h4 {
                font-size: 1.5em;
            }

                /* Restaurants */
            .bloc-resto {
                width: 100%;
            }
                /* img section restaurants (index) */
            .pic-resto {
                height: 322px;
            }

     /* la pallette du goût, la note enchantée, à la farnçaise et le delice des sens */

    .header-store {
        padding-top: 25px;
    }

        .flex-al > p {
            font-size: 1.3em;
        }

    /* ======== footer ========================= */
        /* div footer */
    .foot {
        padding-left: 5%;
        align-items: inherit;
    }
}

/* ===== Animation Affichage Menu ==== */
@keyframes afficheMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
        
.bloc-info:nth-child(1) {
   animation: afficheMenu 1s;
}

.bloc-info:nth-child(2) {
    animation: afficheMenu 2s;
}

.bloc-info:nth-child(3) {
    animation: afficheMenu 2.8s;
}
 
.bloc-info:nth-child(4) {
    animation: afficheMenu 3.2s;
}
